/* Gestion des polices*/
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.woff") format("woff"),
    url("../font/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "batman";
  src: url("../font/batmfa.woff") format("woff"),
    url("../font/batmfa.woff2") format("woff2");
}

/* Générale */
body{
	background-image:url("../img/background.jpg");
	display:flex;
	flex-wrap:wrap;
	min-height:100vh;
	max-height: 100vh;
}

/*Corps*/
section{
	margin: auto;
	padding:1vh 1vw 2vh 1vw;
	background-color: #088A85;
	text-align: center;
}
section h1{
	font-family:"batman", sans-serif;
}
section a{
	font-family:"Roboto", sans-serif;
	background-color:#F5A9BC;
	text-decoration: none;
	color:black;
}

