/*Corps*/
section{
	flex:1 1 60%;
	display:flex
}
.contenu{
	background-color:#F5A9BC;
	margin:auto;
	padding: 0 1.5em 0 1.5em;
}
form div{
	margin-bottom:1em;
}
.contenu h1{
	font-family:"batman", sans-serif;
}



