/*Corps*/
section{
	flex:1 1 60%;
	display:flex;
}
section div{
	margin: auto;
}
section h1{
	font-family:"batman", sans-serif;
	margin:auto;
	padding-top:1em;
}

/*styles spécifique aux tableaux*/
form{
	margin:auto;
}
table{
	margin:auto;
	border-collapse:collapse;
}
td,th{
	border-bottom:solid black thin;
	padding:1em 2em 1em 2em;
}

/*styles spécifique aux listes*/
h2{
	margin-bottom:0.2em;
}
.tri{
	margin-left:2em;
	list-style:square;
}

