/* Gestion des polices*/
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.woff") format("woff"),
    url("../font/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "batman";
  src: url("../font/batmfa.woff") format("woff"),
    url("../font/batmfa.woff2") format("woff2");
}

/* Generale */
body{
	background-color: #424242;
	display:flex;
	flex-wrap:wrap;
	margin:0;
	padding:0;
}
body *{
	font-family:"Roboto", sans-serif;
}
a{
	text-decoration: none;
	color:black;
}
li{
	list-style:none;
}

/*Header*/
header{
	flex:1 1 100%;
	background-color: #088A85;
	min-height:10vh;
}
header h1{
	margin-left:3vw;
	font-family:"batman", sans-serif;
}
header nav{
	background-color:#F5A9BC;
}
header ul{
	display: flex;
	justify-content:space-around;
	padding:1em;
	margin: auto 0 0 0;
}
header li{
	padding-left:2em;
}

/*Aside*/
aside{
	flex: 1 1 10%;
	//background-color:#FA8258;
	display:flex;
	min-height:85vh;
}
aside ul{
	margin: auto;
	margin-right:0;
	background-color: #088A85;
	padding:2em 2em 1em 2em;
}
aside li{
	margin-bottom:1em;
}
